<!DOCTYPE html>
<html>
<head>
	<title>Testing html with python flask</title>
</head>
<body>
	<h1>
		My fav show is {{ show }}
	</h1>
	<form action="{{ url_for('pay') }}" method="POST">
	  <script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-key="{{ pub_key }}"
	    data-amount="9900" 
	    data-name="Demo Site"
	    data-description="Widget"
	    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
	    data-locale="auto">
	  </script>
	</form>
</body>
</html>